name: helm_release

on:
  workflow_call:
    inputs:
      helm_repo: { type: string, required: true }
      helm_values_file_path: { type: string, required: true }
      image_tag_path: { type: string, required: true }
      new_image_tag: { type: string, required: true }
      environment_name: { type: string, required: false }
      environment_url: { type: string, required: false }
    secrets:
      gh_pat: { required: true }

jobs:
  # validate_image_tag:
  #   name: validate New Image Tag
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: |
  #         echo "please validate image tag as it must exist in ghcr.io before helm release"
  helm_release:
    # needs: validate_image_tag
    runs-on: ubuntu-latest
    name: Helm Release to ${{ inputs.helm_repo }}
    environment:
      name: ${{ inputs.environment_name }}
      url: ${{ inputs.environment_url }}
    steps:
      - name: Checkout Helm repo
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.helm_repo }}
          ref: main
          path: helm-deployments
          token: ${{ secrets.gh_pat }}
      - name: Install yq
        shell: bash
        run: |
          curl -Ls https://github.com/mikefarah/yq/releases/download/v4.45.1/yq_linux_amd64 -o yq
          chmod +x yq && sudo mv yq /usr/local/bin/yq
      - name: Apply new image tag
        shell: bash
        run: |
          yq -i '${{ inputs.image_tag_path }} = ${{ inputs.new_image_tag }}' '${{ inputs.helm_repo }}/${{ inputs.helm_values_file_path }}'
      - name: Merge Direct to main Branch (let argo do the rest)
        run: |
          cd helm-deployments
          git config user.name "ci-bot"
          git config user.email "ci-bot@org.com"
          git add ${{ inputs.helm_values_file_path }}
          git commit -m "Promote: ${{ inputs.new_image_tag }}" || true
          git push origin main
